[submodule "src/backend"]
	path = src/backend
	url = https://github.com/raikiri-jp/cognito-with-third-party-backend.git
[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/raikiri-jp/cognito-with-third-party-frontend.git
